tr,td{

	background-color: #ffbf80;

	font-family: arial;

	color: black;

	border-collapse: collapse;

}

table:nth-child(even){
	background-color: #ffa64d;
}

/*.h{
	color: black;

	border: 10px groove green;

	padding: 20px;

}*/

.posisi{

	position: absolute;

	margin-left: auto;

	margin-right: auto;

	margin-bottom: auto;

	margin-top: auto;

	left: 0;

	right: 0;

	top: 100px;

	bottom: 0;

} 

body{
	background-color: #ffd9b3;
}